@charset "utf-8";

body {
    font-family: sans-serif;
    background-color: #576CB1;
}

h1 {
    z-index: 2;
    display: block;
    width: 100%;
    font-size: 32pt;
    height: 64px;
    position: fixed;
    top: 0px;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #FFC4A0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: #576CB1;
    margin: 0;
}

.room-say {
    display: block;
}
.roomlist {
    position: absolute;
    top: 3em;
    width:100%;
    background-color: #576CB1;
}
.roomlist p {
    margin-left: 1em;
    width: 100%;
    color: #FFC4A0;
    font-size: x-large;
}

.room {
    position: absolute;
    top: 3em;
    width:100%;
    background-color: #576CB1;
}

section.room-log {
}

section.room-log p {
    display: block;
    width: 96%;
    background-color: #CAF3C0;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-left: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
}
section.room-log .room-icon {
    display: block;
    float: left;
    width: 64px;
    height: 64px;
    padding-left: 10px;
}

section.room-log p .room-talker {
    display: block;
    margin-left: 10px;
}

section.room-log p .room_talker_with_icon {
    margin-left: 86px;
}

section.room-log p .room-content {
    display: block;
    margin-left: 10px;
}
section.room-log p .room-content:after {
    content: "";
    display: block;
    height: 0;
    font-size:0;
    clear: both;
    visibility:hidden;
}
section.room-log p .room_content_with_icon {
    margin-left: 86px;
}
